#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export PKG_CONFIG = pkg-config
export GDIS_GTK_TARGET = gtk4
export GDIS_BASE_PKG_CONFIG_PACKAGES = gtk4 gthread-2.0 gmodule-2.0
export GDIS_GUI_PKG_CONFIG_PACKAGES = $(GDIS_BASE_PKG_CONFIG_PACKAGES) gl glu epoxy

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	$(MAKE) -C src \
		PKG_CONFIG="$(PKG_CONFIG)" \
		GDIS_GTK_TARGET="$(GDIS_GTK_TARGET)" \
		GDIS_BASE_PKG_CONFIG_PACKAGES="$(GDIS_BASE_PKG_CONFIG_PACKAGES)" \
		GDIS_GUI_PKG_CONFIG_PACKAGES="$(GDIS_GUI_PKG_CONFIG_PACKAGES)" \
		gdis

override_dh_auto_install:

override_dh_auto_test:

override_dh_install:
	dh_install
	install -D -m0755 debian/gdislinux-wrapper debian/gdislinux/usr/bin/gdislinux
	install -D -m0644 debian/gdislinux.desktop debian/gdislinux/usr/share/applications/gdislinux.desktop
	install -D -m0644 src/methane.xpm debian/gdislinux/usr/share/pixmaps/gdislinux.xpm
	desktop-file-validate debian/gdislinux/usr/share/applications/gdislinux.desktop

override_dh_auto_clean:
	$(MAKE) -C src clean
	rm -f src/modules/*.o src/modules/*.d
